# This file contains all the bounds of your problem.
# Bounds are stored in standard format : 
# [lower bound]  [upper bound] [type of bound]

# Dimensions (i&f conditions, y, u, z, p, path constraints) :
$dimension1 $dimension2 1 0 0 0

# Bounds for the initial and final conditions :
$initandfinconditions


# Bounds for the state variables :
$statevariablebounds

# Bounds for the control variables :
-1 1 both

# Bounds for the algebraic variables :

# Bounds for the optimization parameters :

# Bounds for the path constraints :
